<article class="post full-post">
   <h1 class="post-title"><%= @post.title %></h1>

   <section class="post-content">
      <%= @post.content %>
   </section>

   <footer class="post-footer">
      <section class="author">
         <img src="http://placehold.it/200x200" class="profileimage">
         <p>
            <strong><a href="/about">Written by Luckner Jr Jean-Baptiste</a></strong>
            <br>
            Senior Developer @ Uberflip Inc, freelance photographer and entrepreneur.
         </p>
      </section>

      <div class="color-blocks">
         <div class="twitter">
            <a href="https://twitter.com/hoistapps/status/583397295900590080" target="_blank" id="twitter-link">
               <h4>Discuss this article on twitter</h4>
               <i class="fa fa-twitter"></i>
            </a>
         </div>

         <div class="sign-up">
            <form action="http://endgame.createsend.com/t/j/s/ngby/" method="post">
               <h4>Sign up to hear more!</h4>
               <div class="input-group">
                  <input class="form-control" input="" id="fieldEmail" name="cm-ngby-ngby" type="email" required="" placeholder="Email Address">
                  <div class="input-group-btn">
                     <button class="btn btn-default colored" type="submit">Sign Up Now</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </footer>
</article>
