<article class="post">
   <a href="/blog/form-usability/" class="Article-Link"><h2 class="post-title">Form Usability</h2></a>
   <section class="post-excerpt">
      <p>Sub-content</p>
   </section>

   <span class="post-meta">
      <img src="http://placehold.it/100x100" class="profileimage">
      <time datetime="2015-04-01"><i>01 Apr 2015</i></time>
   </span>
</article>


<nav class="pagination" role="navigation">
   <span class="page-number">Page 1 of 10</span>
   <a class="older-posts" href="/blog/page/2/">Older Posts &rarr;</a>
</nav>
